.App-settings-appHolder {
	position: fixed;
	top: 30px; left: 0; right: 0;
	text-align: center;
	width: 320px;
	margin: 0 auto;
	background-color: lightyellow;
}
	.App-settings-appHead {
		position: relative;
		height: 40px;
		background-color: lightgray;
		border-bottom: 1px solid gray;
	}
		.App-settings-app-close,
		.App-settings-app-save {
			position: absolute;
			top: 5px;
			height: 30px;
		} .App-settings-app-close {
			right: 5px;
		} .App-settings-app-save {
			left: 5px;
			padding: 0 15px;
		}
	.App-settings-appMain {
		padding: 10px 0;
	}
		.App-settings-app {
			margin: 0 auto;
		}